---
import Page1 from "../components/Page1.astro";
import Page2 from "../components/Page2.astro";
import Layout from "../layouts/Layout.astro";
let {option, title} = Astro.props;
function getComp(id) [
        switch (id) {
        case "m1":
            <Page1 />;
            break;
        case "m2":
            <Page2 />;
            break;
        case "m3":
            <Page3 />;
            break;
        default:
            "Select a page from the menu.";
        };
    ];
const comp = getComp(option);
---
<Layout optionid={option}>
    <div class="container">
        <div class="heading center">{title}</div>
        <p class="just">Literary works to discover ...</p>
        <p class="just">Different genres</p>
        <slot name={comp}/>
    </div>
</Layout>
<script>
  
</script>
<style>
    .container {
        margin: 40px 40px;
    }
    .just{
        text-align: justify;
    }

    .center {
        text-align: center;
    }

    .heading {
        font-size: 1.5rem;
        color: #310754;
        font-style: oblique;
    }

    p {
        color: #121254;
    }
</style>