---
const title = "Tomorrow, and Tomorrow, and Tomorrow ...";
const author = "William Shakespeare";
---

<div>
    <h2 class="weighty">{title}</h2>
    <h4>{author}</h4>
    <p>
      Tomorrow, and tomorrow, and tomorrow,
      Creeps in this petty pace from day to day,
      To the last syllable of recorded time;
      And all our yesterdays have lighted fools
      The way to dusty death. Out, out, brief candle!
      Life's but a walking shadow, a poor player,
      That struts and frets his hour upon the stage,
      And then is heard no more. It is a tale
      Told by an idiot, full of sound and fury,
      Signifying nothing.
    </p>
</div>

<style>
    .shine {filter: brightness(120%);}

    .matte {filter: contrast(50%);}

    .weighty {font-weight: 700;}
</style>