---
import Page1 from "../components/Page1.astro";
import Page2 from "../components/Page2.astro";
import Page3 from "../components/Page3.astro";
import Home from "../components/Home.astro";
import Layout from "../layouts/Layout.astro";
const {option, title} = Astro.props;
function getComp(id) {
    switch (id) {
        case "m1":
            <Page1 />;
            break;
        case "m2":
            <Page2 />;
            break;
        case "m3":
            <Page3 />;
            break;
        default:
            <Home />;
    };
};

function setName(id) {
    switch(id) {
        case "m1":
            return "Page1";
            break;
        case "m2":
            return "Page2";
            break;
        case "m3":
            return "Page3";
            break;
        default:
            return "Home";
    };
};


// const comp = getComp(option);
---

<Layout>
    <div class="container">
        <div class="heading center">{title}</div>
        <p class="just">Literary works to discover ...</p>
        <p class="just">Different genres</p>
        <!--<slot name= {setName(option)} />-->


    </div>
</Layout>
<script>
    function setName(id) {
        switch(id) {
            case "m1":
                return "Page1";
                break;
            case "m2":
                return "Page2";
                break;
            case "m3":
                return "Page3";
                break;
            default:
                return "Home";
        };
    };
</script>
<style>
    .container {
        margin: 40px 40px;
    }
    .just{
        text-align: justify;
    }

    .center {
        text-align: center;
    }

    .heading {
        font-size: 1.5rem;
        color: #310754;
        font-style: oblique;
    }

    p {
        color: #121254;
    }
</style>