---
import Content from "../components/Content.astro";
import Menu from "../layouts/Menu.astro";
import Footer from "../layouts/Footer.astro";
function getTitle(m) {
	let t;
	if (m == "m1"){t="Page 1"}
	if (m == "m2"){t="Page 2"}
	if (m == "m3"){t="Page 3"}
	return t;
};
let { menuId } = Astro.props;
let title = getTitle(menuId);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body>
		<Menu />
		<Content optionid={menuId} tname={title} />
		<Footer />
		<script>

		</script>
	</body>
</html>

<style is:global>

	:root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
		--color-text: hsl(12, 5%, 4%);
		--color-bg: hsl(10, 21%, 95%);
		--color-border: hsl(17, 24%, 90%);
	}

	html {
		font-family: system-ui, sans-serif;
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		margin: 0;
	}

	h1 {
		font-size: var(--font-size-xl);
	}

	h2 {
		font-size: var(--font-size-lg);
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

</style>
