---
let menuId = Astro.props;
const menuoptions = ["m1","m2","m3"];
const getid = function getId() {
	menuoptions.forEach((opt) => {
		let idMark: any = document.getElementById(opt);
		idMark.addEventListener("click", (event) => {
		let targetid = event.target.id;
		menuId = targetid;
		});
	});
};
---

<navbar id="nav">
    <ul>
        <li>
          <a id="m1" href="/Page1" onclick("getid")>Option 1</a>
        </li>
        <li>
          <a id="m2" href="/Page2" onclick("getid")>Option 2</a>
        </li>
        <li>
          <a id="m3" href="/Page3" onclick("getid")>Option 3</a>
        </li>
    </ul>    
</navbar>

<style>

  navbar#nav {
    background-color: yellow !important;
    height: 100px;
  }

  navbar ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: crimson;
  }

  li {
    list-style: none;
  }

  #m1, #m2, #m3 {
    font-style: oblique;
  }
</style>